html, body {
  background: linear-gradient(#ffE031, #F04579);
  background-repeat: no-repeat;
  margin: 0;
  height: 100%
}

main{
  background-color: lightyellow;
  opacity: 0.95;
  border-radius: 20px;
  padding: 1em;
}

.bg-success{
  background-color:midnightblue !important;
}

